{% extends 'base.html' %}

<head>
    <title>{% block title %} {% endblock %} Search</title>
</head>

{% block content %}

        <div class="title">
            <p>Download just the audio from your favourite YouTube videos.</p>
            <p>Enter the video URL below to see a list of available MP3s.</p>
        </div>
        <div id="source-input">
            <form class="row card input-card" action="{{ url_for('results') }}" method="POST">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8 col-xs-10 input-group justify-content-md-center">
                    <span class="col-lg-3 input-group-text" id="basic-addon3">Video URL:</span>
                    <input name="url" type="text" class="form-control" id="basic-url">
                </div>
                <button class="btn btn-outline-secondary submit-btn" type="submit">Go!</button>
            </form>
        </div>

{% endblock %}
